.navbar {
    /* background-color: var(--off-white); */
    /* background: transparent; */
    /* position: sticky;
    top: 0px;
    width: 100%;
    height: 80px; */
    /* z-index: 1000; */
    /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
    margin: 5px 0 0 40px;
    background:#fff;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .nav-logo {
    justify-self: start;
    cursor: pointer;
    padding-left: 40px;
  }
  
  
  .navbar .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
  }
  
  .nav-link{
    color: #000;
    position: relative;
    text-decoration: none;
  }
  
  .nav-link:hover{
    color: #000;
    cursor: pointer;
  }
  
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .navbar {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 400;
      background: #bebcbe;
      left: 0;
      opacity: 50%;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-item {
      text-align: center;
      display: flex;
      height: auto;
    }
  
    /* .nav-item:hover {
      width: auto;
      
      border-radius: 0;
    } */
  
    .nav-link{
      text-align: center;
      padding: 1rem 0 0 1;
      display: flex;
    }
    
    .nav-link:hover{
      background-color: rgb(175, 175, 175);
      color: #000;
      cursor: pointer;
    }
    
    .nav-link::before {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    } 
    
    .nav-link:hover::before {
      visibility: hidden;
      transform: scaleX(1);
    }
  
    .nav-logo {
      font-family: Poppins;
      font-size: 30px;
      font-weight: 600;
      color: #000;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
    
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #ed69bd;
      font-size: 2rem;
    }
  
    .fa-bars {
      color: #eecf61;
      font-size: 2rem;
    }
  }



  /* .................Tab........................ */
  